<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.comment.domain.repository.CommentDao">

    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (
            user_id
            , review_id
            , content
        ) VALUES (
            #{userId}
            ,#{reviewId}
            ,#{content}
        )
    </insert>
    
    <select id="getCommentResponseDtoByCommentId" parameterType="long" resultType="CommentResponseDto">
        SELECT
            c.*,
            u.nickname
        FROM
            comments c
        JOIN users u ON c.user_id = u.id
        WHERE c.id = #{commentId}
    </select>

    <select id="findById" parameterType="long">
        SELECT *
        FROM comments
        WHERE id = #{id}
    </select>

    <select id="getCommentResponseDtoByReviewId" parameterType="long" resultType="CommentResponseDto">
        SELECT
            c.*,
            u.nickname
        FROM
            comments c
                JOIN users u ON c.user_id = u.id
        WHERE c.review_id = #{reviewId}
    </select>

    <update id="updateComment" parameterType="Comment">
        UPDATE comments
        SET
        content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM comments
        WHERE id = #{commentId}
    </delete>

    <select id="getCommentResponseDtoByUserId" parameterType="long" resultType="CommentResponseDto">
        SELECT
            c.*,
            u.nickname
        FROM
            comments c
                JOIN users u ON c.user_id = u.id
        WHERE c.user_id = #{userId}
    </select>

</mapper>
