<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.ssafit.video.domain.repository.VideoDao">

    <!-- 영상 등록 -->
    <insert id="insertVideo" parameterType="Video" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO videos (
                            user_id
                            ,title
                            ,description
                            ,part
                            ,url
        ) VALUES (
                #{userId}
                ,#{title}
                ,#{description}
                ,#{part}
                ,#{url}
        )
    </insert>

    <!-- ID로 영상 조회 -->
    <select id="findVideoById" parameterType="long" resultType="Video">
        SELECT *
        FROM videos
        WHERE id = #{id}
    </select>

    <!-- 조건 검색 (title, parts, views, categories) -->
    <select id="searchVideos" resultType="Video">
        SELECT *
        FROM videos
        WHERE 1 = 1
        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="parts != null and parts.size() > 0">
            AND part IN
            <foreach collection="parts" item="p" open="(" separator="," close=")">
                #{p}
            </foreach>
        </if>
        <if test="order != null">
            ORDER BY views DESC
        </if>
    </select>


    <!-- 영상 정보 수정 -->
    <update id="updateVideo" parameterType="Video">
        UPDATE videos
        SET title = #{title}
            ,description = #{description}
            ,part = #{part}
            ,url = #{url}
        WHERE id = #{id}
    </update>

    <!-- 영상 삭제 -->
    <delete id="deleteVideo" parameterType="long">
        DELETE
        FROM videos
        WHERE id = #{id}
    </delete>

    <!-- 조회수 증가 -->
    <update id="increaseViewCnt" parameterType="long">
        UPDATE videos
        SET views = views + 1
        WHERE id = #{videoId}
    </update>

    <!-- 회원의 영상 조회-->
    <select id="getVideoByUserId" parameterType="long" resultType="VideoResponseDto">
        SELECT *
        FROM videos
        WHERE user_id = #{userId}
    </select>

</mapper>
